<!DOCTYPE html>
<html>
<head>
<!-- it: modal's are typically parts of pages, not entire pages. I would avoid naming a page modal (it would make more sense as a partial) -->
	<title></title>
	<meta charset="utf-8">
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!-- jquery -->
  <script type="text/javascript" src="/vendor/jquery/dist/jquery.min.js">></script>
  <!-- underscore -->
  <script src="/vendor/underscore/underscore-min.js"></script>
  <!-- bootstrap JS -->
  <script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/static/css/bootstrap-lightbox/bootstrap-lightbox.min.js"></script>
  <!-- Bootstrap css -->
  <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/bootstrap-lightbox/bootstrap-lightbox.min.css">

  <!-- css -->
  <link rel="stylesheet" type="text/css" href="/static/css/style.css">
  <!-- app.js -->
</head>
  <body>
<div id="demoLightbox" class="lightbox hide fade"  tabindex="-1" role="dialog" aria-hidden="true">
  <div class='lightbox-content'>
    <img src="/static/images/2.jpeg">
    <div class="lightbox-caption"><p>Your caption here</p></div>
  </div>
</div>
<a data-toggle="lightbox" href="#demoLightbox">Open Lightbox</a>

  </body>
</html>